Flask
Flask-MySQLdb
python-dotenv
google-generativeai
requests
Werkzeug
numpy
pandas
opencv-python
Pillow
tensorflow
scikit-learn
gunicorn
Flask
python-dotenv
google-generativeai
requests
Flask-MySQLdb
mysqlclient
mysql-connector-python
opencv-python
Pillow
tensorflow
numpy
scikit-learn
joblib
pandas
numpy
Flask
python-dotenv
google-generativeai
requests
mysql-connector-python
Flask-Cors
Flask-Mail
qrcode[pil]
reportlab
numpy
pandas
scikit-learn
joblib
tensorflow
opencv-python
Pillow